.dirstamp
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
libtool
stamp-h1
*.o
xdelta3decode
xdelta3regtest
xdelta3/m4
xdelta3/xdelta3
xdelta3/ltmain.sh
xdelta3/missing
xdelta3/*.o
xdelta3/*.lo
